<section>
  <div class="hero hero--mini">
    <a class="branding__image" href="#/"></a>
    <h1>Friend Fund</h1>
  </div>
  <form class="form">
    <div class="form__input-group">
      <!-- <label for="name">Name</label> -->
      <input type="text" name="name" id="name" placeholder="Name">
    </div>
    <div class="form__input-group">
      <!-- <label for="email">Email</label> -->
      <input type="text" name="email" id="email" placeholder="Email">
    </div>
    <div class="form__input-group">
      <!-- <label for="mondo-token">Mondo Token</label> -->
      <textarea name="mondo-token" id="mondo-token" placeholder="Mondo Token"></textarea>
    </div>
  </form>
  <div class="action-buttons">
    <div class="btn">Register</div>
  </div>
</section>
